
.header { 
    text-align: center;
    padding: 20px;
    background-color:rgb(96, 146, 66);
}
.name {
    font-size: 1.5rem;
    font-weight: bold; 
    font-family: sans-serif;
}
.main {
    display: flex;
}
.leftcol {
    flex-basis: 0;
    flex-grow: 1; 
    background-color: yellowgreen;
}
.menu {
    list-style-type: none;
    font-family: sans-serif;
    padding: 10px;
}
button {
    width: 200px;
    background-color: rgb(97, 141, 177);
}
.middlecol {
    flex-grow: 3; 
    flex-basis: 0;
    padding: 10px;
    background: url('ball.png') repeat-y right;
    background-color: rgb(131, 122, 122);
    font-family: sans-serif;  
}
.image {
    float: left; 
    margin: 10px; 
    width: 50%;
}
.rightcol {
    text-align: left;
    flex-basis: 0;
    flex-grow: 1; 
    background-color:rgb(201, 199, 86); 
    padding-left: 10px; 
    font-family: sans-serif;
}
.banners {
    padding-left: 10px;
}
.footer {
    padding: 10px; 
    background-color:rgb(201, 147, 86); 
    font-family: sans-serif;
}
.club {
    width: 90px;
    height: 40px;
    display: inline-block;
    border: solid rgb(184, 31, 31) 1px;
    position: fixed;
    left: 75%;
    top: 95px;
    background-color: rgb(235, 101, 83);
    text-align: center;
}
@media all and (max-width:320px) {
    .middlecol {
        background-image: none;
    }
    .rightcol {
        display: none;
    }
    .main {
        flex-direction: column-reverse;
    } 
    .image {
       width: 100%;
       margin: 0;
    }
    .club {
        left: 55%;
        top: 137px;
    }
}